.display1 {
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: var(--ff-bold);
  line-height: 100%;
}
.display2 {
  font-family: var(--font-family);
  font-size: 32px;
  font-weight: var(--ff-semi);
  line-height: 120%;
}
.display3 {
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: var(--ff-regular);
  line-height: 140%;
}

.headline1 {
  font-family: var(--font-family);
  font-size: 48px;
  font-weight: var(--ff-semi);
  line-height: 100%;
}

.headline2 {
  font-family: var(--font-family);
  font-size: 28px;
  font-weight: var(--ff-regular);
  line-height: 120%;
}

.headline3 {
  font-family: var(--font-family);
  font-size: 70px;
  font-weight: var(--ff-semi);
  line-height: 120%;
}

.label1 {
  font-family: var(--font-family);
  font-size: 12px;
  text-transform: uppercase;
  line-height: 120%;
}

.label2 {
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 120%;
  font-weight: normal;
}

.text-white {
  color: var(--color-white);
}

.text-grey {
  color: var(--color-grey);
}
