.content {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.category {
  display: flex;
  flex-direction: column;
  gap: var(--space-12);
  width: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  margin-top: 0;
}

.listItem,
.categoryItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-8);
  text-transform: capitalize;
}

.legend {
  width: 10px;
  height: 10px;
  border-radius: var(--radius-2);
}
