.container {
  display: flex;
  flex-direction: row;
  gap: var(--space-26);
  width: 100%;
}

.meta {
  display: flex;
  flex-direction: column;
  gap: var(--space-18);
  width: 100%;
  justify-content: space-between;
}

.metaInfo {
  display: flex;
  flex-direction: column;
  gap: var(--space-12);
  width: 100%;
}
