.go-big-wrapper {
  background-color: var(--color-black);
  width: 100%;
  padding: var(--space-80);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.go-big-content {
  width: 100%;
  height: auto;
  min-height: 300px;
  display: flex;
  max-width: var(--analysis-max-width);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
  overflow: hidden;
  border-radius: var(--radius-10);
  padding: var(--space-60);
  .blur {
    --gradient-blur: 30px;
    filter: blur(var(--gradient-blur));
  }
}
